# Temp and cache --------------------------------
.DS_Store
__pycache__
.ipynb_checkpoints
cache
/data/processed
temp/
tuned
*.pyc

# Sync app folders
.bitpocket
.bitignore

# Environments ----------------------------------
env
.env

# Editors ---------------------------------------
.vscode
.idea
*.code-workspace
