# Temp and cache --------------------------------
.DS_Store
__pycache__
.ipynb_checkpoints
cache
/data/processed
submissions
temp/
tuned
*.pyc

# Sync app folders
.bitpocket
.bitignore

# Environments ----------------------------------
env
.env

# Editors ---------------------------------------
.vscode
.idea

# Personal runfiles -----------------------------
#| This files are different from user to user |#
/src/run.py
/src/tuning/tune.py